.icon-button {
  background: #0050a5;
  color: #ffffff;
  padding: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 4em !important;

  &:hover {
    background: #0266d1;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
  .icon-button {
    font-size: 2em !important;
    padding: 10px;
  }
}